# Игнорировать node_modules
node_modules/

# Игнорировать переменные окружения
.env

# Игнорировать базу данных
*.db
*.db-shm
*.db-wal

# Игнорировать загруженные файлы
uploads/

# Логи
*.log
logs/
npm-debug.log*
